.bgModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.loginModal {
    background: #334155;
    color: aliceblue;
    width: 500px;
    max-width: 90%;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.loginModal form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.loginModal input {
    width: 100%;
    background-color: #475569;
    border-radius: 10px;
    border: none;
    color: aliceblue;
    font-size: larger;
    outline: none;
    box-sizing: border-box;
}

.loginModal button {
    margin-top: 1rem;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    background: #007bff;
    color: aliceblue;
    cursor: pointer;
    transition: background 0.2s ease;
    flex-direction: row;
}

.loginModal button:hover {
    background: #0056b3;
}

.closeButton {
    background-color: red !important;
}

.closeButton:hover {
    
    background-color: rgb(241, 43, 43) !important;
    transition: background 0.2s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
